<?xml version="1.0"?>

<!--

File: master.launch
Author: @AlessioBorgi
Date: 07-02-2024

Description: This is the major file (like a "main") that should be launched to start the project. Since it's a launch file, it will 
             be used to launch multiple nodes all at once.

-->

<launch>

  <!-- INCLUDES -->
  <!-- WeBots Initialization-->
  <include file="$(find webots_ros)/launch/webots.launch">
    <arg name="world" value="$(find robot_settings)/worlds/Home.wbt"/>
    <arg name="mode" value="realtime"/>
    <arg name="no_gui" value="false"/>
  </include>

  <!-- URDF Cleaning Robot -->
  <include file="$(find robot_settings)/robot_description/launch/CleaningRobot.launch"/>

  <!-- Rviz Cleaning Robot-->
	<include file="$(find robot_settings)/rviz/launch/CleaningRobot_viz.launch"/>

  <!-- Rviz Navigation and Planning-->
  <include file="$(find nav_plan_objavoid)/launch/navigation_planning.launch"/>






  <!-- NODES -->
  <!-- Home Map Node -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find robot_settings)/maps/home.yaml"/>

  <!-- ReMapping Node -->
  <node name="Remap" pkg="nav_plan_objavoid" type="remap" respawn="false" output="screen"/>

  <!-- Teleoperation Node (Keyboard) -->
  <node name="Teleop" pkg="robot_settings" type="enable" respawn="false" output="screen"/>
  
  <!-- Dynamic Transform Node -->
  <node name="Dynamic" pkg="robot_settings" type="dynamic_link_camera" respawn="false" output="screen"/>

  <!-- Localization Node -->
  <node name="Localization" pkg="robot_settings" type="localize" respawn="false" output="screen"/>	
  
</launch>