<?xml version="1.0"?>
<launch>

  <!-- Open the model file -->
  <arg name="CleaningRobot_xacro" default="$(find robot_settings)/robot_description/urdf/CleaningRobot.xacro"/>
  <param name="robot_description" command="$(find xacro)/xacro '$(arg CleaningRobot_xacro)'"/>

  <!-- Add the transformations -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

</launch>
